*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
*.apk
/captures
.externalNativeBuild
.bash_profile
.bash_profiletouch
/.idea/.name
/.idea/codeStyles/Project.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/misc.xml
/.idea/vcs.xml